<div class="container">

  <div class="row">
    <h1><%= @cliente.nombre %></h1>
  </div>

  <div class="row">
      <table>
        <tbody>
          <tr>
            <td><strong>Cif/ Nif: </strong></td>
            <td colspan="2"><%= @cliente.cifNif %></td>
          </tr>
          <tr>
            <td><strong>Direccion: </strong></td>
            <td colspan="2"><%= @cliente.direccion %></td>
          </tr>
          <tr>
            <td><strong>Localidad: </strong></td>
            <td colspan="2"><%= @cliente.localidad %></td>
          </tr>
          <tr>
            <td><strong>Cp: </strong></td>
            <td colspan="2"><%= @cliente.cp %></td>
          </tr>
          <tr>
            <td><strong>Provincia: </strong></td>
            <td colspan="2"><%= @cliente.provincia %></td>
          </tr>
          <tr>
            <td><strong>Telefono: </strong></td>
            <td colspan="2"><%= @cliente.telefono %></td>
          </tr>
          <tr>
            <td><strong>Suscripción: </strong></td>
            <td colspan="2">
              <% if @cliente.suscriptor == true %>
                <%= "Suscripción activa" %>
              <% else %>
                <%= "No estás suscrit@ todavía" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
      <%= link_to "Editar #{@cliente.nombre}", edit_cliente_path(@cliente),
       class: "btn btn-warning text-white" %>
  </div>

  <%= render "clientes/tabla_clientes_menus" %>

  <div class="row">
    <%= link_to 'Atrás', clientes_path, class: "btn btn-danger text-white" %>
  </div>



</div>
