<div class="container">

  <div class="row">
    <h1><%= @menu.nombre %></h1>
  </div>

  <div class="row mb-3">
        <%= link_to "Editar #{@menu.nombre}", edit_menu_path(@menu), class: "btn btn-warning text-white" %>
  </div>

      <%= render "menus/table_platos_menu" %>

  <div class="row">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
       data-bs-target="#add_platos" aria-expanded="false"
        aria-controls="add_platos">
        Añadir platos
      </button>
  </div>

  <div class="row">
    <div class="collapse" id="add_platos">
      <div class="card">
        <div class="card-body">
          <%= render "menus/add_platos" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <%= link_to 'Atrás', menus_path, class: "btn btn-danger text-white" %>
  </div>

</div>
