<div class="row">
  <table>
    <thead>
      <tr>
        <th colspan="4">Alérgenos de este ingrediente</th>
      </tr>
    </thead>
    <tbody>
      <% @ingrediente.alergenos.each do |a| %>
        <tr>
            <td><%= a.nombre %></td>
            <td><img src="<%= asset_path "#{a.img}" %>" alt="" width="50px"></td>
            <% if current_cliente.admin? %>
              <td><%= link_to "Mostrar", alergeno_path(a.id),
              class: "btn btn-sm btn-primary text-white" %></td>
              <td><%= link_to "Eliminar",
              ingrediente_alergeno_path(:alergeno_id => a, :ingrediente_id => @ingrediente),
              class: "btn btn-sm btn-danger text-white",
              method: :delete %></td>
            <% else %>
            <td colspan="2"><%= link_to "Mostrar", alergeno_path(a.id),
            class: "btn btn-sm btn-primary text-white" %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
