<div class="row">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Alérgenos</th>
        <th colspan = "3" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredientes.each do |ingrediente| %>
        <tr>
          <td><%= ingrediente.nombre %></td>
          <td>
            <% ingrediente.alergenos.each do |a| %>
              <img src="<%= asset_path "#{a.img}" %>" alt="" width="40">
            <% end %>
          </td>

        <% if current_cliente.admin? %>
            <td> <%= link_to 'Mostrar', ingrediente,
              class: "btn btn-sm btn-primary text-white" %></td>
            <td> <%= link_to 'Editar', edit_ingrediente_path(ingrediente),
              class: "btn btn-sm btn-warning text-white" %></td>
            <td> <%= link_to 'Eliminar', ingrediente,
              class: "btn btn-sm btn-danger text-white",
              method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% elsif ingrediente.cliente.id == @current_cliente.id %>
          <td colspan="2"> <%= link_to 'Mostrar', ingrediente,
            class: "btn btn-sm btn-primary text-white" %></td>
          <td> <%= link_to 'Editar', edit_ingrediente_path(ingrediente),
            class: "btn btn-sm btn-warning text-white" %></td>

        <% elsif @current_cliente.usuario?%>
          <td colspan="3"> <%= link_to 'Mostrar', ingrediente,
            class: "btn btn-sm btn-primary text-white" %></td>

        <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
