<div class="container">

  <div class="row">
    <h1><strong><%= @ingrediente.nombre %></h1>
  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>
            Grupo de ingredientes:
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @ingrediente.grupoingrediente.nombre %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mb-3">
    <% if  @ingrediente.cliente_id == current_cliente.id %>
      <%= link_to "Editar #{@ingrediente.nombre}",
       edit_ingrediente_path(@ingrediente),
       class: "btn btn-warning text-white" %>
    <% end %>
  </div>

  <%= render "ingredientes/tabla_ingredientes_alergenos" %>

  <%= render "ingredientes/tabla_ingredientes_platos" %>

  <div class="row">
    <%= link_to 'Atrás', ingredientes_path, class: "btn btn-danger text-white" %>
  </div>

</div>
