<div class="container">
  <div class="row">
    <h1><strong><%= @ingrediente.nombre %></h1>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <td colspan="2"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Grupo de ingredientes:</strong>
          </td>
          <td>
            <%= @ingrediente.grupoingrediente.nombre %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to "Editar #{@ingrediente.nombre}", edit_ingrediente_path(@ingrediente), class: "btn btn-warning text-white" %>
  </div>

  <div class="row mt-3">
    <table>
      <thead>
        <tr>
          <th colspan="3">Alérgenos de este ingrediente</th>
        </tr>
      </thead>
      <tbody>
        <% @ingrediente.alergenos.each do |a| %>
          <tr>
            <td><%= a.nombre %></td>
            <td><img src="<%= asset_path "#{a.img}" %>" alt="" width="50px"></td>
            <td><%= link_to "Mostrar", alergeno_path(a.id),
            class: "btn btn-sm btn-primary text-white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row mt-3">
    <table>
      <thead>
        <tr>
          <th colspan="3">Platos con este ingrediente</th>
        </tr>
      </thead>
      <tbody>
        <% @ingrediente.platos.each do |p| %>
          <tr>
            <td colspan="2"><%= p.nombre %></td>
            <td> <%= link_to "Mostrar", plato_path(p.id),
              class: "btn btn-sm btn-primary text-white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to 'Atrás', ingredientes_path, class: "btn btn-danger text-white" %>
  </div>
</div>
