<div class="container">

  <div class="row">
      <h1> <%= @plato.nombre %> </h1>
  </div>

  <div class="row">
    <% if @plato.cliente_id == current_cliente.id %>
      <%= link_to "Editar #{@plato.nombre}", edit_plato_path(@plato),
       class: "btn btn-warning text-white" %>
      <% end %>
  </div>

  <%= render "platos/tabla_platos_alergenos" %>

  <%= render "platos/tabla_platos_ingredientes" %>

  <div class="row">
    <% if @plato.cliente_id == current_cliente.id %>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
       data-bs-target="#add_ingredientes" aria-expanded="false"
        aria-controls="add_ingredientes">
        Añadir ingredientes al plato
      </button>
    <% end %>
  </div>

  <div class="row">
    <div class="collapse" id="add_ingredientes">
      <div class="card">
        <div class="card-body">
          <%= render "platos/add_ingrediente" %>
        </div>
      </div>
    </div>
  </div>

  <%= render "tabla_platos_menus" %>

  <div class="row">
    <%= link_to 'Atrás', platos_path, class: "btn btn-danger text-white" %>
  </div>

</div>
