<%= form_with(model: alergeno) do |form| %>
  <% if alergeno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alergeno.errors.count, "error") %> prohibited this alergeno from being saved:</h2>

      <ul>
        <% alergeno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "Imagen", class: "form-label" %>
    <%= form.text_field :img, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar cambios", class: "btn btn-success"%>
  </div>
<% end %>
