<div class="container">

  <div class="row">
    <h1>
      <img src="<%= asset_path "#{@alergeno.img}" %>" alt="" width="50px">
      <%= @alergeno.nombre %>
    </h1>
  </div>

  <%= render "alergenos/tabla_alergenos_ingredientes" %>

  <%= render "alergenos/tabla_alergenos_platos" %>

  <div class="row">
    <%= link_to 'Editar', edit_alergeno_path(@alergeno),
     class: "btn btn-warning text-white" %>
   </div>

  <div class="row"><%= link_to 'Atrás', alergenos_path,
    class: "btn btn-danger text-white" %>
  </div>

</div>
