<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Alergenos App", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if cliente_signed_in? %>
            <li class="nav-item">
              <%= link_to "Alérgenos", alergenos_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Grupos de ingredientes", grupoingredientes_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Clientes", clientes_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Menus", menus_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Platos", platos_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Ingredientes", ingredientes_path, class:"nav-link" %>
            </li>
            <li>
              <%= link_to "Editar perfil", edit_cliente_registration_path, class:"nav-link" %>
            </li>
            <li>
              <%= link_to "Salir", destroy_cliente_session_path, method: :delete, class:"nav-link" %>
            </li>
          </ul>
        <% else %>
            <li>
              <%= link_to "Registrarse", new_cliente_registration_path, class:"nav-link" %>
            </li>
            <li>
              <%= link_to "Entrar", new_cliente_session_path, class:"nav-link" %>
            </li>
        <% end %>
    </div>
  </div>
</nav>
