<!DOCTYPE html>
<html>
  <head>
    <title>IAlergenos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>

  <body class= "d-grid gap-3">

    <% if cliente_signed_in? %>
      <div class="row text-end">
          <p> Logado como <%= current_cliente.email %> </p>
      </div>
    <% end %>

    <div class="row">
        <%= render "layouts/nav" %>
    </div>

    <div class="container d-grip gap-3">

        <% flash.each do |name, msg| %>
          <% if name == "notice" %>
            <%= content_tag :div, msg, id: "flash_#{name}",
              class: "alert alert-success" %>
          <% else %>
            <%= content_tag :div, msg, id: "flash_#{name}",
              class: "alert alert-danger" %>
          <% end %>
        <% end %>

      <%= yield %>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
